.background {
    background-image: url('https://images.pexels.com/photos/2078271/pexels-photo-2078271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.fontStyle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkmagenta;
}

.par {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bold {
    font-weight: bold;
}

.divPos {
    text-align: center;
    background-color: lightblue;

}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}